.col {
    position: relative;
    float: left;

}

.col header {
    margin-bottom: 15px;
}

.col header h2 {
    font-size: 20px;
    color: #ce1616;
}

.col header h3 {
    font-size: 14px;
    color: #ce1616;
}

.col article {
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px dashed #666;
}

.col p {
    color: #aa824e;
}

.col article :last-of-type {
    border: 0px !important;
}

.col article header {
    margin-bottom: 8px;
}

#noticias {
    width: 195px;
    margin-left: 30px;
}

#animal_mes {
    width: 438px;
    margin-left: 30px;
}

#animal_mes img {
    width: 438px;
    height: 253px;
}

#redes_sociales {
    margin-left: 20px;
}

#redes_sociales ul li {
    list-style: none;
    margin-bottom: 10px;
}

#redes_sociales ul li .icon {
    display: inline-block;
    margin-right: 10px;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#redes_sociales ul li a div {
    display: inline-block;
}

#redes_sociales .icon {
    height: 17px;

}

#pinguino {
    width: 154px;
    height: 235px;
    z-index: 1000;
    position: absolute;
    right: 30px;
    bottom: -68px;
    background-image: url(../assets/pinguino.png);
}